<strong>Olá, {{ owner }}</strong>
<p>Houve uma inscrição em sua Meetup <strong>{{ meetup }}</strong>, do usuário abaixo</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Data: </strong> {{ date }} <br />
  <br />
</p>